*{
    margin:0;
    padding:0;
    box-sizing: border-box ;
    
}
body{
    background-image: linear-gradient(#5f0a87,#a4508b);
}

.container{

    width:250px;
    height: 350px;
    padding: 20px;
    justify-content: center;
    }
#content{
    justify-content: center;
    justify-items: center;
    align-content: center;
    outline: none;
    padding-top: 70px;
   
    
}
input{
    position: relative;
    padding:7px;
    width:250px;
    height: 50px;
    border-radius: 2px;
    border:2px solid black;
    font-size: 23px;
    background-color: black;
    color: white;
    text-align: right;

}
button{
    position: relative;
    width:60px;
    height:50px;
    border:0;
    padding:10px;
    margin-top: 2px;
    font-size: 25px;
    background-color:white;
    font-family: georgia;
}
button:hover{
    background-color:rgb(255, 19, 19);
    color:cornsilk;
}
input#getvalue::placeholder{
    color:white;
    padding:7px;
    }
button#eq{
    position:fixed;
    padding: 0px;
    width:246px;
    height:50px;
    
}